# Backend
backend/target/
backend/src/main/resources/application-local.properties
backend/.classpath
backend/.project
backend/.settings/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS / IDE
.DS_Store
.idea/
.vscode/
